ul.sidenav-list
  = link_to t('.guest_reservation_manager'), dashboard_guest_reservation_manager_path, aria: {selected: action_name == 'guest_reservation_manager' ? 'true' : 'false'}, class: 'sidenav-item'
