/= simple_form_for(:search, url: '/listings/search', html: { method: 'get', id: 'search_form', class: 'hero-searchForm'}) do |f|
  /= f.hidden_field :where, value: 'top'
  /= button_tag(t('.submit'), type: "submit", class: "btn btn-primary btn-large", id: "submit_location")
